:root {
  --height-screen: 100vh;
  --height-header: 4rem;
  --mh-content-page: calc(var(--height-screen) - var(--height-header));
  --color-primary: #0d6efd;
  --color-secondary: #6c757d;
  --color-success: #198754;
  --color-danger: #ee0b21;
  --color-warning: #ffc107;
  --color-info: #0dcaf0;
  --color-light: #ffffff;
  --color-light-secondary: #d8e5e7;
  --color-dark: #1e1e1e;
  --color-dark-secondary: #414346;
}
