// variables
@import './_variables.scss';

// tailwind
@import './_tailwind.scss';

// nprogress
@import '~nprogress/nprogress.css';

// react-perfect-scrollbar;
@import '~react-perfect-scrollbar/dist/css/styles.css';
.ps {
  $width: 0.25rem;
  &__rail-y {
    background-color: transparent #{!important};
    width: $width * 2 !important;
  }
  &__rail-y:hover .ps__thumb-y {
    @apply bg-primary #{!important};
    width: $width * 2 !important;
  }
  &__thumb-y {
    width: $width !important;
  }
}

body {
  @apply border-light-secondary bg-light text-dark-secondary dark:border-dark-secondary dark:bg-dark dark:text-light-secondary;
  scroll-behavior: smooth;

  *::selection {
    @apply bg-primary text-light;
  }

  #__next {
    @apply min-h-screen;
  }

  a {
    @apply cursor-pointer transition-all;
  }

  .block-component {
    @apply rounded-lg bg-light text-dark shadow-lg transition-all dark:border dark:border-dark-secondary dark:bg-dark dark:text-light;
  }

  input,
  select,
  textarea {
    @apply w-full rounded-lg border border-light-secondary bg-light px-2 py-1.5 outline-none transition-all ease-in-out focus:border-primary focus:ring-1 focus:ring-primary dark:border-dark-secondary dark:bg-dark dark:hover:border-dark-secondary;
  }

  button {
    @apply rounded-lg border border-light px-4 py-1.5 outline-none transition-all ease-in-out hover:bg-opacity-50 dark:border-dark;

    &.primary {
      @apply bg-primary text-light focus:border-primary focus:ring-1 focus:ring-primary dark:bg-primary;
    }

    &.success {
      @apply bg-success text-light focus:border-success focus:ring-1 focus:ring-success dark:bg-success;
    }

    &.danger {
      @apply bg-danger text-light focus:border-danger focus:ring-1 focus:ring-danger dark:bg-danger;
    }

    &.warning {
      @apply bg-warning text-light focus:border-warning focus:ring-1 focus:ring-warning dark:bg-warning;
    }

    &.light {
      @apply border-light-secondary bg-light text-dark focus:border-light focus:ring-1 focus:ring-light dark:bg-light dark:focus:border-light;
    }
  }

  .image-custom {
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: initial !important;
  }
}
